*{
    margin: 0;
    padding: 0;
  }
  
  .header{
    padding-top: 12px;
    background: #fff;
  
  }
  
  
  .content{
    margin: 24px 16px;
    padding: 20px;
  }
  
  .triggr-btn{
   font-size: 16px;
   width: 50px;
   height: 50px;
   position: fixed;
   /* bottom: 10px;
   left: 10px; */
  }
  
  .sider{
    height: 90vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top: 0;
    
  }
  
  @media (max-width: 768px) {
    .sider {
      position: fixed;
      z-index: 1000;
      width: 0;
      overflow: hidden;
      transition: width 0.2s;
    }
  
    .sider.ant-layout-sider-collapsed {
      width: 0 !important;
    }
  
    .ant-layout-sider-collapsed .logo {
      display: none;
    }
  
    .ant-layout-sider-collapsed .menu-bar {
      display: none;
    }
  }
  
  
  .logo{
   /* color: #4f6f52; */
    margin: 8px 0;
    font-size: 1.5rem;
  }
  .menu-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
  }
  
  .ant-menu-item-selected{
    background-color: #886CC0 !important;
    color: #fff !important;
  }
  
  .header-icon{
    background: #d2e3c8;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color: #4f6f52;
    cursor: pointer;
  }
  
  .ant-btn:hover{
    color: #886CC0 !important;
    border-color: #4f6f52 !important;
  }
  
  .ant-btn-primary{
    background-color: #886CC0;
  }
  
  .ant-btn-primary:hover{
    background-color: #173a1a !important;
    color: #fff !important;
  }
  
  .primary--color{
    color: #886CC0 !important;
  }
  
  .primary--light--color{
    color: #739072 !important;
  }
  
  .secondary--color{
    color: #86a789 !important;
  }
  
  .light--color{
    color: #d2e3c8 !important;
  }
  
  .grey--color{
    color: rgb(182, 181, 181) !important;
  }
  
  .plant-card{
    flex: 1;
    height: 250px;
    text-align: center;
  }
  
  .top-seller, .featured-seller{
    flex: 1;
  }
  .divider{
    border: 2px solid green;
    height: 50px;
  }
  
  .card{
    background-image: linear-gradient(to bottom, #4c7f79, #87e8de);
  }
  
  :where(.css-dev-only-do-not-override-p8b6i).ant-menu-light.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-p8b6i).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-p8b6i).ant-menu-light.ant-menu-root.ant-menu-vertical, :where(.css-dev-only-do-not-override-p8b6i).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
    height: 100vh;
    font-size: 20px;
    width: 100%;
  
  }
  :where(.css-dev-only-do-not-override-p8b6i).ant-layout .ant-layout-sider-children {
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
    background: black;
   
  }
  
  .custom-datepicker {
    width: 100%;
    padding: 16px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 45px;
  }
  
  .custom-datepicker .react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .mobilebtn{
      margin-top: -8%;
    }
    
  }
  
    
  @media (min-width: 1000px) and (max-width: 1390px) {
    .mobilebtn{
      margin-top: -3%;
    }
    
  }

  @media (min-width: 1400px) {
    .mobilebtn{
      margin-top: -3%;
    }
    
  }
  
  :where(.css-dev-only-do-not-override-p8b6i).ant-layout {
    
    background: #fff;

  }

.bg{
  background: linear-gradient(45deg, white, #084c61);
  
}